.contact-section {
    padding: 3rem 0;
    background-color: fcf8e3;
    color: #212529;
}

.contact-container {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.contactTitle {
    font-size: 40px;
    text-align: center;
}

hr.rounded-con {
    border-top: 4px solid #212529;
}

.contact-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    min-width: 1rem;
    
}

.contact-text {
    text-align: center;
}