.NavBarEnd {
    display: flex;
    font-size: 26px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5vh;
    margin-right: 3vw;
    min-width: 15rem;
    /* background-color: lawngreen; */
}

.NavBarSym {
    display: flex;
    font-size: 26px;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1.5vh;
    margin-left: 3vh;
    /* background-color: beige; */

}

.NavContainer {
    display: flex;
    font-size: 26px;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    transition: background-color 0.5s ease;
    min-width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    height: 4rem;
    overflow-y: hidden;
}

.NavItem:hover {
    color: #f4623a;
    cursor: pointer;
}

.NavSpacer {
    min-width: 4vw;
}

.LabelSpacer {
    min-width: 2.5vw;
}


