/* .port-page {
    background: no-repeat center fixed;
    background-size: cover;
}
.port-format {
    background-color: magenta;
    background-position: center;
    background-size: auto;
    color: aquamarine;
} */